* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: black;
}
.container {
  background-color: #ffffff;
  font-size: 16px;
  padding: 3px;
  width: 50%;
  left: 25%;
  right: 25%;

  text-align: center;
  position: absolute;  
}

.search-container {
  width: 100%;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 1.2px;
}

.search-container input {
  font-size: 16 pt;
  width: 100%;
  padding: 0.6em;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
}
.search-container button {
  font-size: 16pt;
  background-color: goldenrod;
  border: none;
  font-weight: 600;  
}
img {
  display: block;
  width: 50%;
  margin: auto;
}
.details {
  background-color: goldenrod;
  position: relative;
  margin: 16px 0 0 0;
  text-align: center;
  padding: 9.6px 0;
}
.details h2 {
  font-size: 16pt;
  font-weight: bold;
}
.details h4 {
  font-size: 16pt;
  font-weight: 100;
}
#show-recipe {
  font-size: 10pt;
  position: static;  
  padding: 14px 10px;
  background-color: goldenrod;    
  bottom: 0%;
  font-weight: bold;
}
#hide-recipe {
    font-size: 16pt;
    position: relative;
    width: 25px;
    height: 25px;
    background-color: goldenrod;
    border: none;
    top: 16px;
    left: 45%;    
  }
#recipe {
  position: absolute;
  background-color: white;
  min-height: 100%;
  width: 100%;  
  top: 0;
  left: 0;    
  display: none;
}
#recipe pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 20px;  
  font-size:12pt;
  color: grey;
  text-align: left;
}
ul {
  font-size: 12pt;
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px 10px;
  padding: 19px 19px;
  color: black;
  text-transform: capitalize;
  text-align: left;
}
h3 {
  text-align: center;
  margin-top: 28px;
  color: black;
}
@media screen and (max-width: 500px) {
  .container {
    font-size: 14px;
  }
}